<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <hi>Rayuela</hi>
    <section>
            <img src="\img\juguetes-fond-blanco.jpg" alt="juguetes con fondo verde" >
           
        </section>
    <section>
        <button id="rosa">rosa</button>
        <button id="verde-agua">verde agua</button>
        <button id="azul">azul</button>
        <button id="amarillo">amarillo</button>
    </section>
</body>
</html>