<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>

</head>
<header>
    <section>
        <img id="logo" src="/img/logo-rayuela.png" alt="logo">
    </section>
    <nav>
        <ul>
            <li class="search-bar"><i class="fa-solid fa-magnifying-glass"></i><input type='search' placeholder=""></li>
            <li class="cart"><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></li>
            <li class="my-account"><a href="#"><i class="fa-solid fa-user"></i></a></li>
        </ul>
    </nav>
    <nav id="menu">
        <nav>
            <ul>
                <li><a href=#>Ofertas</a></li>
                <li><a href=#>Tiendas Oficiales</a></li>
                <li><a href=#>Vender</a></li>
                <li><a href=#>Ayuda</a></li>
            </ul>

        </nav>

    </nav>
</header>

<body>
    <section class="banner">
        <img src="\img\ninos-jugando.jpg" alt="juguetes con fondo verde">

    </section>
    <section>
        <button id="rosa">rosa</button>
        <button id="verde-agua">verde agua</button>
        <button id="azul">azul</button>
        <button id="amarillo">amarillo</button>
    </section>
</body>

</html>