img {
    width: 1200px;
}

#rosa {
    background-color:rgb(251,181,173) ;
}
#verde-agua {
    background-color: rgb(124,205,173)  ;
} 
#azul {
    background-color: rgb(55,175,180);
}
#amarillo {
    background-color: rgb(225,171,2);
}
